
   $primary:#191c29;
    $secondary:#212534;
    $brandcolor:hsl(35deg 84% 50%);
    $exception:white;
    $textcolorimportant:white;
    $contenttext:gainsboro;
    $textcolornotimportant:#818384;
    $bodytextfs:16px;
    $titlesfs:20px;
    $detailsfs:0.875rem;
    $boxshadow:0px 1px 7px 1px black;
  